                        {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                         {{ form_widget(form.name) }}
                          {% if not form.name.vars.valid %}
                        <div class="alert alert-danger">
                        {{ form_errors(form.name) }}
                        </div>
                        {% endif %}
                         <div class="col-md-12 col-sm-12">
        <label class="control-label">Image<small>Please add a your image .</small></label>
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-preview thumbnail"></div>
            <br>
            <span class="btn btn-default btn-file">
                                                    <span class="fileupload-new">Select Image</span>
                                                    <span class="fileupload-exists">Change</span>
                                                     {{ form_widget(form.image) }}
                                                </span>
            <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload"><i class="fa fa-close"></i></a>
        </div>
    </div>
</div><!-- end row -->
                        {{ form_widget(form.prix) }}
                          {% if not form.prix.vars.valid %}
                        <div class="alert alert-danger">
                        {{ form_errors(form.prix) }}
                        </div>
                        {% endif %}

                        {{ form_widget(form.quantity) }}
                          {% if not form.quantity.vars.valid %}
                        <div class="alert alert-danger">
                        {{ form_errors(form.quantity) }}
                        </div>
                        {% endif %}

                        {{ form_widget(form.type) }}
                          {% if not form.prix.vars.valid %}
                        <div class="alert alert-danger">
                        {{ form_errors(form.type) }}
                        </div>
                        {% endif %}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <label class="control-label">Categorie<small>Enter your Fournisseur</small></label>
    {{ form_widget(form.idfournisseur,{'attr':{'class':'form-control'}}) }}
        {% if not form.idfournisseur.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form.idfournisseur) }}
        </div>
        {% endif %}
    </div>

</div><!-- end row -->




                        {{ form_widget(form) }}
                         <button class="btn">{{ button_label|default('Save') }}</button>
                        {{ form_end(form) }}
    <br>
