{% extends 'base.html.twig' %}
{% block content %} {{asset('')}}
	<!-- ============ S-FITNESS-SLIDER ============ -->
	<section class="s-fitness-slider">
		<div class="slider-navigation">
			<div class="container">
				<div class="slider-navigation-cover"></div>
			</div>
		</div>
		<div class="fitness-slider">
			<div class="fitness-slide">
				<div class="fitness-slider-effect">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.4" style="'background-image: url(/Front/img/effect-1-1.svg);"></span>
					</div>
				</div>
				<div class="slide-img-cover">
					<div data-hover-only="true" class="scene">
						<img class="slide-img" data-depth="0.2" src="{{asset('/Front/img/woman1.png')}}" alt="img">
					</div>
				</div>
				<div class="container">
					<img class="slide-img-effect" src="{{asset('/Front/img/slider-square.svg')}}" alt="img">
					<div class="text-bg">workout</div>
					<div class="fitness-slide-cover">
						<h2 class="title">push <span>yourself</span></h2>
					</div>
				</div>
			</div>
			<div class="fitness-slide">
				<div class="fitness-slider-effect">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.4" style="background-image: url(/Front/img/effect-1-1.svg);"></span>
					</div>
				</div>
				<div class="slide-img-cover">
					<div data-hover-only="true" class="scene">
						<img class="slide-img" data-depth="0.2" src="{{asset('/Front/img/woman2.png')}}" alt="img">
					</div>
				</div>
				<div class="container">
					<img class="slide-img-effect" src="{{asset('/Front/img/slider-square.svg')}}" alt="img">
					<div class="text-bg">Yoga</div>
					<div class="fitness-slide-cover">
						<h2 class="title">push <span>yourself</span></h2>
					</div>
				</div>
			</div>
			<div class="fitness-slide">
				<div class="fitness-slider-effect">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.4" style="background-image: url(/Front/img/effect-1-1.svg);"></span>
					</div>
				</div>
				<div class="slide-img-cover">
					<div data-hover-only="true" class="scene">
						<img class="slide-img" data-depth="0.2" src="{{asset('/Front/img/woman3.png')}}" alt="img">
					</div>
				</div>
				<div class="container">
					<img class="slide-img-effect" src="{{asset('/Front/img/slider-square.svg')}}" alt="img">
					<div class="text-bg">Cardio</div>
					<div class="fitness-slide-cover">
						<h2 class="title">push <span>yourself</span></h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ========== S-FITNESS-SLIDER END ========== -->


	<!-- =========== FITNESS-OUR-PROGRAM =========== -->
	<section class="fitness-our-program" style="background-image: url(/Front/img/bg-best.svg);">
		<span class="section-title-bg">{#Our Programsesmmmmm #}</span>
		<div class="container">
			<h2 class="title-decor">Our <span>Products</span></h2>
 				{% for produit in produits %}
			<div class="row">
				<div class="col-sm-4 fitness-program-col">
					<div class="fitness-program-item">
						<div class="fitness-program-item-front" style="background-image: url({{ asset('picture/' ~ produit.image) }});">
							<div class="fitness-program-item-inner">
								<div class="date">Name : {{ produit.name }} <br>{{ produit.prix }} DT<br>Click to  comment</a> </div>
								<h3>{{ produit.prix }} DT</h3>
							</div>
						</div>
						<div class="fitness-program-item-back" style="background-image: url({{ asset('picture/' ~ produit.image) }});">
							<a href="{{ path('avis_new', {'id': produit.id}) }}" class="fitness-program-item-inner">
								<div class="date">Quantity : {{ produit.quantity }}</div>
								<h3>Type : {{ produit.type }}</h3>
							</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</section>
	<!-- ========= FITNESS-OUR-PROGRAM END ========= -->



	
{% endblock %}