{% extends 'base.html.twig' %}
{% block content %}
	<!--===================== S-NEWS =====================-->
	<section class="s-news">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-9 blog-cover">
					{% for article in article %}
					<div class="post-item-cover" >
						<a href="{{ path('showArticle',{'id':article.id}) }}">
						<div class="post-header">
							<div class="post-thumbnail">
								<a href="{{ path('showArticle',{'id':article.id}) }}">
									<img src="{{ asset('/upload/images/'~ article.media) }}" alt="img">
								</a>
							</div>
						</div>
						<div class="post-content">
							<div class="meta">
								<span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>{{ article.createdAt |date('d/m/y') }}</span>
{#								<span class="post-category"><i class="fa fa-tag" aria-hidden="true"></i><a>Fitness</a></span>#}
							</div>
							<h2 class="title">{{ article.titre }}</h2>
							<div class="text">
								<p>{{ article.text }}</p>
							</div>
						</div>
						<div class="post-footer">
							<div class="meta">
								<span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="{{ path('showArticle',{'id':article.id}) }}" > Comments(s)</a></span>
{#								<span class="post-tags"><i class="fa fa-hashtag" aria-hidden="true"></i><a href="#">Aenean</a><a href="#">Mattis</a></span>#}
							</div>
							<a href="{{ path('showArticle',{'id':article.id}) }}" class="btn"><span>ouvrir</span></a>
{#							{{ socialButtons() }}#}
						</div>
						</a>
					</div>
					{% endfor %}
{#					<div class="pagination-cover">#}
{#						<ul class="pagination">#}
{#							<li class="pagination-item item-prev"><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>#}
{#							<li class="pagination-item active"><a href="#">1</a></li>#}
{#							<li class="pagination-item"><a href="#">2</a></li>#}
{#							<li class="pagination-item"><a href="#">3</a></li>#}
{#							<li class="pagination-item"><a href="#">4</a></li>#}
{#							<li class="pagination-item"><a href="#">5</a></li>#}
{#							<li class="pagination-item item-next"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>#}
{#						</ul>#}
{#					</div>#}
				</div>
				<!--================= SIDEBAR =================-->
				<div class="col-12 col-lg-3 sidebar">
					<a href="#" class="btn btn-sidebar"><span>Widgets</span></a>
					<ul class="widgets">
						<!--=========== WIDGET-SEARCH ===========-->
						<li class="widget widget-search">
							<h3 class="title">Search</h3>
							<form class="search-form">
								<label>
									<input class="inp-form" type="email" name="search" placeholder="Search">
								</label>
								<button type="submit" class="btn-form"><i class="fa fa-search" aria-hidden="true"></i></button>
							</form>
						</li>
						<!--========= WIDGET-SEARCH END =========-->
						<!--=========== WIDGET-ARHIVE ===========-->
						<li class="widget widget-archive">
							<h3 class="title">Archive</h3>
							<ul>
								<li><a href="#">January 2019</a></li>
								<li><a href="#">February 2019</a></li>
								<li><a href="#">March 2019</a></li>
								<li><a href="#">April 2019</a></li>
								<li><a href="#">May 2019</a></li>
							</ul>
						</li>
						<!--========= WIDGET-ARHIVE END =========-->
						<!--========= WIDGET-CATEGORIES =========-->
						<li class="widget widget-categories">
							<h3 class="title">Categories</h3>
							<ul>
								<li><a href="#">Training</a></li>
								<li><a href="#">Courses</a></li>
								<li><a href="#">Conferences</a></li>
								<li><a href="#">Development</a></li>
								<li><a href="#">UI/UX Designer</a></li>
							</ul>
						</li>
						<!--======= WIDGET-CATEGORIES END =======-->
						<!--======== WIDGET-RECENT-POSTS ========-->
						<li class="widget widget-recent-posts">
							<h3 class="title">Recent Blog Posts</h3>
							<ul>
								<li>
									<a href="#">Mobile App Design: From Beginner to Intermediate</a>
									<div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>Dec 27, 2019 at 5:47 pm</div>
								</li>
								<li>
									<a href="#">Et harum quidem rerum facilis est et expedita distinctio</a>
									<div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>Dec 17, 2018 at 5:47 pm</div>
								</li>
								<li>
									<a href="#">Nam libero tempore, cum soluta nobis est eligendi optio</a>
									<div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>Dec 8, 2018 at 5:47 pm</div>
								</li>
							</ul>
						</li>
						<!--====== WIDGET-RECENT-POSTS END ======-->
						<!--========== WIDGET-INSTAGRAM ==========-->
						<li class="widget widget-instagram">
							<h3 class="title">Instagram</h3>
							<ul>
								<li>
									<a href="#"><img src="{{ asset('Front/img/insta-widget-1.jpg') }}" alt="img"></a>
								</li>
								<li>
									<a href="#"><img src="{{ asset('Front/img/insta-widget-2.jpg') }}" alt="img"></a>
								</li>
								<li>
									<a href="#"><img src="{{ asset('Front/img/insta-widget-3.jpg') }}" alt="img"></a>
								</li>
								<li>
									<a href="#"><img src="{{ asset('Front/img/insta-widget-4.jpg') }}" alt="img"></a>
								</li>
								<li>
									<a href="#"><img src="{{ asset('Front/img/insta-widget-5.jpg') }}" alt="img"></a>
								</li>
								<li>
									<a href="#"><img src="{{ asset('Front/img/insta-widget-6.jpg') }}" alt="img"></a>
								</li>
							</ul>
						</li>
						<!--======== WIDGET-INSTAGRAM END ========-->
						<!--========== WIDGET-NEWSLETTER ==========-->
						<li class="widget widget-newsletter">
							<h3 class="title">newsletter</h3>
							<form class="subscribe-form">
								<input class="inp-form" type="email" name="subscribe" placeholder="Your E-mail">
								<button type="submit" class="btn-form"><i class="fa fa-search" aria-hidden="true"></i></button>
							</form>
						</li>
						<!--======== WIDGET-NEWSLETTER END ========-->
					</ul>
				</div>
				<!--=============== SIDEBAR END ===============-->
			</div>
		</div>
	</section>
	<!--=================== S-NEWS END ===================-->
	{% endblock %}