{% extends 'base.html.twig' %}
{% block content %}
    <!--===================== S-NEWS =====================-->
    <section class="s-news">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9 blog-cover">
                    <!--============= AUTOR-COVER END =============-->

                    <!--============== NAVIGATION END ==============-->
                    <div class="reviews">
                        <h2 class="title">modifier commentaire</h2>
                        <div class="reviews-form">
                            {% block commentaire %}
                                {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                                    <ul class="form-cover">
                                        <li class="inp-name">
                                            <label></label>
                                            {{ form_errors(form.username) }}
                                            {{ form_widget(form.username) }}
                                        </li>
                                        <li class="inp-email">
                                            <label>{{ form_label(form.text,"contenu du commentaire") }}</label>
                                            {{ form_errors(form.text) }}
                                            {{ form_widget(form.text) }}
                                        </li>
                                        {#                                       <li class="inp-text">#}
                                        {#                                           <label>Message * (required)</label>#}
                                        {#                                           <textarea name="your-text"></textarea>#}
                                        {#                                       </li>#}
                                    </ul>
                                    {#                                   <div class="checkbox-wrap">#}
                                    {#                                       <div class="checkbox-cover">#}
                                    {#                                           <input type="checkbox">#}
                                    {#                                       </div>#}
                                    {#                                   </div>#}
                                    <div class="btn-form-cover">
                                        {#                                       <button type="submit" class="btn">send comment</button>#}
                                    </div>
                                {{ form_end(form) }}
                            {% endblock %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--=================== S-NEWS END ===================-->


{% endblock %}