{% extends 'base.html.twig' %}
{% block content %} {{asset('')}}
	<!-- ============ S-FITNESS-SLIDER ============ -->
	<section class="s-fitness-slider">
		<div class="slider-navigation">
			<div class="container">
				<div class="slider-navigation-cover"></div>
			</div>
		</div>
		<div class="fitness-slider">
			<div class="fitness-slide">
				<div class="fitness-slider-effect">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.4" style="'background-image: url(Front/img/effect-1-1.svg);"></span>
					</div>
				</div>
				<div class="slide-img-cover">
					<div data-hover-only="true" class="scene">
						<img class="slide-img" data-depth="0.2" src="{{asset('Front/img/woman1.png')}}" alt="img">
					</div>
				</div>
				<div class="container">
					<img class="slide-img-effect" src="{{asset('Front/img/slider-square.svg')}}" alt="img">
					<div class="text-bg">workout</div>
					<div class="fitness-slide-cover">
						<h2 class="title">push <span>yourself</span></h2>
					</div>
				</div>
			</div>
			<div class="fitness-slide">
				<div class="fitness-slider-effect">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.4" style="background-image: url(Front/img/effect-1-1.svg);"></span>
					</div>
				</div>
				<div class="slide-img-cover">
					<div data-hover-only="true" class="scene">
						<img class="slide-img" data-depth="0.2" src="{{asset('Front/img/woman2.png')}}" alt="img">
					</div>
				</div>
				<div class="container">
					<img class="slide-img-effect" src="{{asset('Front/img/slider-square.svg')}}" alt="img">
					<div class="text-bg">Yoga</div>
					<div class="fitness-slide-cover">
						<h2 class="title">push <span>yourself</span></h2>
					</div>
				</div>
			</div>
			<div class="fitness-slide">
				<div class="fitness-slider-effect">
					<div data-hover-only="true" class="scene">
						<span class="scene-item" data-depth="0.4" style="background-image: url(Front/img/effect-1-1.svg);"></span>
					</div>
				</div>
				<div class="slide-img-cover">
					<div data-hover-only="true" class="scene">
						<img class="slide-img" data-depth="0.2" src="{{asset('Front/img/woman3.png')}}" alt="img">
					</div>
				</div>
				<div class="container">
					<img class="slide-img-effect" src="{{asset('Front/img/slider-square.svg')}}" alt="img">
					<div class="text-bg">Cardio</div>
					<div class="fitness-slide-cover">
						<h2 class="title">push <span>yourself</span></h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ========== S-FITNESS-SLIDER END ========== -->

	

	<!-- ============== S-CLUB-CARDS ============== -->
	<section class="s-club-cards club-cards-lite club-cards-fitness">
		<span class="section-title-bg">{#Club Cards#}</span>
		<div class="container">
			<h2 class="title-decor">Club <span>Cards</span></h2>
			<p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.</p>
			<div class="row">
				<div class="col-md-4 club-card-col">
					<div class="club-card-item" style="background-image: url(Front/img/bg-price-1.svg);">
						<div class="price-cover">
							<div class="price"><span>$</span>220</div>
							<div class="date">3 months</div>
						</div>
						<div class="club-card-text">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolortin lorem ut.</div>
						<a href="program.html" class="btn">order now</a>
					</div>
				</div>
				<div class="col-md-4 club-card-col">
					<div class="club-card-item" style="background-image: url(Front/img/bg-price-2.svg);">
						<div class="price-cover">
							<div class="price"><span>$</span>320</div>
							<div class="date">6 months</div>
						</div>
						<div class="club-card-text">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolortin lorem ut.</div>
						<a href="program.html" class="btn">order now</a>
					</div>
				</div>
				<div class="col-md-4 club-card-col">
					<div class="club-card-item" style="background-image: url(Front/img/bg-price-3.svg);">
						<div class="price-cover">
							<div class="price"><span>$</span>360</div>
							<div class="date">12 months</div>
						</div>
						<div class="club-card-text">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolortin lorem ut.</div>
						<a href="program.html" class="btn">order now</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============ S-CLUB-CARDS END ============ -->

	<!-- =========== FITNESS-OUR-PROGRAM =========== -->
	<section class="fitness-our-program" style="background-image: url(Front/img/bg-best.svg);">
		<span class="section-title-bg">{#Our Programsesmmmmm #}</span>
		<div class="container">
			<h2 class="title-decor">Our <span>Programs</span></h2>
			<p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.</p>
			<div class="row">
				<div class="col-sm-4 fitness-program-col">
					<div class="fitness-program-item">
						<div class="fitness-program-item-front" style="background-image: url(Front/img/home2-program-1.jpg);">
							<div class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>cardio training</h3>
							</div>
						</div>
						<div class="fitness-program-item-back" style="background-image: url(Front/img/home2-program-1.jpg);">
							<a href="program.html" class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>cardio training</h3>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 fitness-program-col">
					<div class="fitness-program-item">
						<div class="fitness-program-item-front" style="background-image: url(Front/img/home2-program-2.jpg);">
							<div class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>Open Training</h3>
							</div>
						</div>
						<div class="fitness-program-item-back" style="background-image: url(Front/img/home2-program-2.jpg);">
							<a href="program.html" class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>Open Training</h3>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 fitness-program-col">
					<div class="fitness-program-item">
						<div class="fitness-program-item-front" style="background-image: url(Front/img/home2-program-3.jpg);">
							<div class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>running</h3>
							</div>
						</div>
						<div class="fitness-program-item-back" style="background-image: url(Front/img/home2-program-3.jpg);">
							<a href="program.html" class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>running</h3>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 fitness-program-col">
					<div class="fitness-program-item">
						<div class="fitness-program-item-front" style="background-image: url(Front/img/home2-program-4.jpg);">
							<div class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>group workouts</h3>
							</div>
						</div>
						<div class="fitness-program-item-back" style="background-image: url(Front/img/home2-program-4.jpg);">
							<a href="program.html" class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>group workouts</h3>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 fitness-program-col">
					<div class="fitness-program-item">
						<div class="fitness-program-item-front" style="background-image: url(Front/img/home2-program-5.jpg);">
							<div class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>press</h3>
							</div>
						</div>
						<div class="fitness-program-item-back" style="background-image: url(Front/img/home2-program-5.jpg);">
							<a href="program.html" class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>press</h3>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 fitness-program-col">
					<div class="fitness-program-item">
						<div class="fitness-program-item-front" style="background-image: url(Front/img/home2-program-6.jpg);">
							<div class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>yoga</h3>
							</div>
						</div>
						<div class="fitness-program-item-back" style="background-image: url(Front/img/home2-program-6.jpg);">
							<a href="program.html" class="fitness-program-item-inner">
								<div class="date">monday 11:00AM</div>
								<h3>yoga</h3>
							</a>
						</div>
					</div>
				</div>
			</div>
			<a href="program.html" class="btn">view more</a>
		</div>
	</section>
	<!-- ========= FITNESS-OUR-PROGRAM END ========= -->

	<!-- ============== S-BEST-TRAINER ============== -->
	<section class="s-best-trainer fitness-best-trainer">
		<span class="section-title-bg">{#Best Trainer#}</span>
		<div class="container">
			<h2 class="title-decor">Best <span>Trainer</span></h2>
			<p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.</p>
		</div>
		<div class="best-trainer-slider">
			<a href="trainer.html" class="best-trainer-slide">
				<div class="best-trainer-img">
					<img src="{{asset('Front/img/single-1.jpg')}}" alt="img">
				</div>
				<h3 class="name">Samanta</h3>
				<h3 class="surname">Piters</h3>
				<div class="prof">weightlifting</div>
			</a>
			<a href="trainer.html" class="best-trainer-slide">
				<div class="best-trainer-img">
					<img src="{{asset('Front/img/single-2.jpg')}}" alt="img">
				</div>
				<h3 class="name">Artur</h3>
				<h3 class="surname">Piters</h3>
				<div class="prof">weightlifting</div>
			</a>
			<a href="trainer.html" class="best-trainer-slide">
				<div class="best-trainer-img">
					<img src="{{asset('Front/img/single-3.jpg')}}" alt="img">
				</div>
				<h3 class="name">Kim</h3>
				<h3 class="surname">Piters</h3>
				<div class="prof">weightlifting</div>
			</a>
			<a href="trainer.html" class="best-trainer-slide">
				<div class="best-trainer-img">
					<img src="{{asset('Front/img/single-4.jpg')}}" alt="img">
				</div>
				<h3 class="name">Sam</h3>
				<h3 class="surname">Piters</h3>
				<div class="prof">weightlifting</div>
			</a>
			<a href="trainer.html" class="best-trainer-slide">
				<div class="best-trainer-img">
					<img src="{{asset('Front/img/single-5.jpg')}}" alt="img">
				</div>
				<h3 class="name">Anna</h3>
				<h3 class="surname">Piters</h3>
				<div class="prof">weightlifting</div>
			</a>
		</div>
	</section>
	<!-- ============ S-BEST-TRAINER END ============ -->



	

	<!-- ============= S-FITNESS-POSTS ============= -->
	<section class="s-fitness-posts">
		<div class="section-title-bg">Latest News</div>
		<div class="container">
			<h2 class="title-decor">Latest <span>News</span></h2>
			<p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.</p>
			<div class="row">
				<div class="col-md-4 fitness-post-col">
					<div class="post-item-cover">
						<div class="post-header" style="background-image: url(Front/img/home-price-1.svg);">
							<div class="date">31 Jan</div>
						</div>
						<div class="post-content">
							<h4 class="title"><a href="single-blog.html">Sed ut perspiciatis unde omnis</a></h4>
							<div class="text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem…</p>
							</div>
						</div>
						<div class="post-footer">
							<div class="meta">
								<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Rovadex</a></span>
								<span class="post-category"><i class="fa fa-tag" aria-hidden="true"></i><a href="#">Fitness</a></span>
								<span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">1 Comments(s)</a></span>
								<span class="post-tags"><i class="fa fa-hashtag" aria-hidden="true"></i><a href="#">Aenean</a><a href="#">Mattis</a></span>
							</div>
							<a href="single-blog.html" class="btn"><span>read more</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 fitness-post-col">
					<div class="post-item-cover">
						<div class="post-header" style="background-image: url(Front/img/home-price-2.svg);">
							<div class="date">31 Jan</div>
						</div>
						<div class="post-content">
							<h4 class="title"><a href="single-blog.html">Creating a WordPress Blog</a></h4>
							<div class="text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem…</p>
							</div>
						</div>
						<div class="post-footer">
							<div class="meta">
								<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By SporTun</a></span>
								<span class="post-category"><i class="fa fa-tag" aria-hidden="true"></i><a href="#">Lifting</a></span>
								<span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">2 Comments(s)</a></span>
								<span class="post-tags"><i class="fa fa-hashtag" aria-hidden="true"></i><a href="#">Aenean</a><a href="#">Mattis</a></span>
							</div>
							<a href="single-blog.html" class="btn"><span>read more</span></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 fitness-post-col">
					<div class="post-item-cover">
						<div class="post-header" style="background-image: url(Front/img/home-price-3.svg);">
							<div class="date">31 Jan</div>
						</div>
						<div class="post-content">
							<h4 class="title"><a href="single-blog.html">Sed ut perspiciatis unde omnis</a></h4>
							<div class="text">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem…</p>
							</div>
						</div>
						<div class="post-footer">
							<div class="meta">
								<span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By SportTun</a></span>
								<span class="post-category"><i class="fa fa-tag" aria-hidden="true"></i><a href="#">Fitness</a></span>
								<span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">3 Comments(s)</a></span>
								<span class="post-tags"><i class="fa fa-hashtag" aria-hidden="true"></i><a href="#">Aenean</a><a href="#">Mattis</a></span>
							</div>
							<a href="single-blog.html" class="btn"><span>read more</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =========== S-FITNESS-POSTS END =========== -->

	
{% endblock %}