{% extends "back-office.html.twig" %}
{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Data Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
<section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Datatables</h5>
           
<table border="2" class="table table-bordered border-primary">
   <thead>
    <tr>
        <td>Id</td>
         <td>name</td>
        <td>Description</td>
        <td>Title</td>
          <td>type</td>
        <td>NumTel</td>
        <td>image</td>
        <td>Lat</td>
         <td>Lng</td>
          <td>region</td>
            <td>Action</td>
    </tr>
    </thead>
     <tbody>
    {% for Services in Services %}
        <tr>
            <td>{{ Services.id }}</td>
            <td>{{ Services.name }}</td>
            <td>{{ Services.Description }}</td>
            <td>{{ Services.title }}</td>
            <td>{{ Services.Type}}</td>
            <td>{{ Services.NumTel}}</td>
            <td><img src="{{ asset('/upload/images/'~Services.Image) }}" width="20" height="20"></td>
            <td>{{ Services.location.lat }}</td>
            <td>{{ Services.location.lng }}</td>
            <td>{{ Services.location.region }}</td>
            <td> 
            <a href="{{ path('deleteService',{'id':Services.id}) }}">Delete</a>
                <a href="{{ path('updateService',{'id':Services.id}) }}">Update</a>
            </td>

        </tr>
         </tbody>
    {% endfor %}
</table>
 </div>
          </div>
   </div>
        </div>
      </div>
</section>
</main>
{% endblock %}