{% extends 'base.html.twig' %}
{% block content %}{{asset('')}}
	<!-- =============== HEADER-TITLE =============== -->
	<section class="s-header-title" style="background-image: url(Front/img/bg-1-min.png);">
		<div class="container">
			<h1 class="title">Contacts</h1>
			<ul class="breadcrambs">
				<li><a href="index.html">Home</a></li>
				<li>Contacts</li>
			</ul>
		</div>
	</section>
	<!-- ============= HEADER-TITLE END ============= -->
	<!-- ================ S-CONTACTS ================ -->
	<section class="s-contacts" style="background-image: url(Front/img/bg-contacts.svg);width:70%;  margin-left:auto;
			 margin-right:auto;">
		<div class="container">
			<h2 class="title-decor">Contact <span>Us</span></h2>
			<p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.</p>
			<div class="row">
				<div class="col-md-3 col-lg-2">
					<div class="contact-item">
						<div class="contact-item-left">
							<img src="{{asset('Front/img/icon-1.svg')}}" alt="img">
							<h4>need help</h4>
						</div>
						<div class="contact-item-right">
							<ul class="contact-item-list">
								<li><a href="tel:18004886040">+216100200</a></li>
								<li><a href="tel:18005784090">+216100200</a></li>
							</ul>
						</div>
					</div>
					<div class="contact-item">
						<div class="contact-item-left">
							<img src="{{asset('Front/img/icon-2.svg')}}" alt="img">
							<h4>questions</h4>
						</div>
						<div class="contact-item-right">
							<ul class="contact-item-list">
								<li><a href="mailto:team@gmail.com">team@gmail.com</a></li>
								<li><a href="mailto:help@gmail.com">help@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="contact-item">
						<div class="contact-item-left">
							<img src="{{asset('Front/img/icon-3.svg')}}" alt="img">
							<h4>address</h4>
						</div>

					</div>
				</div>
				<div class="col-md-7 col-lg-8">
					<form id='contactform' action="{{asset('Front/php/contact.php')}}" name="contactform">
						<ul class="form-cover">
							<li class="inp-name">
								<label>Name * (required)</label>
								<input id="name" type="text" name="your-name">
							</li>
							<li class="inp-email">
								<label>E-mail * (required)</label>
								<input id="email" type="email" name="your-email">
							</li>
							<li class="inp-text">
								<label>Message * (required)</label>
								<textarea id="comments" name="your-text"></textarea>
							</li>
							<li class="inp-name">
								<label>Role * (required)</label>
								<input id="Role" type="your-text" name="your-Role">
							</li>
						</ul>
						<div class="checkbox-wrap">
							<div class="checkbox-cover">
								<input type="checkbox">
								<p>By using this form you agree with the storage and handling of your data by this website.</p>
							</div>
						</div>
						<div class="btn-form-cover">
							<button id="#submit" type="submit" class="btn">send comment</button>
						</div>
					</form>
					<div id="message"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============== S-CONTACTS-END ============== -->
	{% endblock %}