{% extends "back-office.html.twig" %}
{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="consulter-blog">blog</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                        <img src="{{ asset('/upload/images/'~article.media) }}" alt="Profile">
                </div>

            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <div class="row">
                                    <div cclass="card-title">title</div>
                                    <div class="col-lg-9 col-md-8">{{ article.titre }}</div>
                                </div>
                                <div>
                                    {{ commentaires | length  }} Comments(s)</div>
                                <h5 class="card-title">article body</h5>
                                <p class="small fst-italic">{{ article.text }}</p>

                                <h5 class="card-title">Comments</h5>

                                {% for c in commentaires %}

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">{{ c.username }}</div>
                                    <div class="col-lg-9 col-md-8">{{ c.text }}</div>
                                </div>
                                {% endfor %}

                            </div>

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}